@import "theme";

html, body {
  margin: 0;
  padding: 0;

  background: $primary;
}

.navbar {
  background: $primary;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);

  font-size: 16px;
  line-height: 1em;

  .navbar-brand {
    .name {
      padding-left: 16px;

      color: $accent;
      font-size: 18px;
    }
  }

  .nav-link.active {
    color: WHITE;
  }

  #docsearch {
    position: absolute;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.inner-page #hero {
  padding: 64px;

  @media (max-width: $tabletWidth) {
    padding-top: 128px;
    padding-left: 32px;
    padding-right: 32px;
  }

  border-bottom: 1px solid rgba(255, 255, 255, 0.05);

  .message {

    .title {
      display: block;

      color: WHITE;
      font-size: 64px;
      font-weight: bold;

      text-align: center;

      @media (max-width: $tabletWidth) {
        margin-bottom: 1em;

        font-size: 42px;
      }
    }

    .subtitle {
      display: block;

      color: $accent;
      font-size: 42px;
      font-weight: bold;

      text-align: center;

      @media (max-width: $tabletWidth) {
        font-size: 28px;
      }
    }
  }
}

#content {
  @media (max-width: $tabletWidth) {
    padding-left: 24px;
    padding-right: 24px;
  }
}

#footer {
  margin-top: 48px;

  background: $primaryLight;

  padding: 1.5em;

  color: #5E666B;
  text-align: center;

  .heart {
    color: RED;
  }

  a {
    color: $accent;

    &:hover {
      color: $accentLight;
    }
  }
}
