@import "theme";

.guides-menu {
  width: 250px;
  margin-right: 24px;
}

.guide-content {
  max-width: 750px;
}

h1 {
  color: $accent;
}

.btn {
  display: block;

  background: $primaryLight;
  border: 1px solid $primaryLighter;

  padding: 8px 16px;

  font-size: 16px;
  line-height: 1.2em;
  text-align: left;

  &:hover {
    background: $primaryLighter;
    border: 1px solid $accent;
  }
}

.btn + .btn {
  margin-top: 8px;
}