@import "theme";

h1 {
  color: $accent;
}

p {
  margin-top: 2em;
  margin-bottom: 2em;
}

h1 + p, h2 + p, h3 + p {
  margin-top: 0.5em;
}

.btn {
  display: block;

  background: $primaryLight;
  border: 1px solid $primaryLighter;

  padding: 8px 16px;

  font-size: 16px;
  line-height: 1.2em;
  text-align: left;

  &:hover {
    background: $primaryLighter;
    border: 1px solid $accent;
  }
}

.btn + .btn {
  margin-top: 8px;
}