@import "theme";

#hero {
  @media (min-width: tabletWidth) {
    height: 80vh;
  }
}

#content {
  max-width: 800px;
  margin: auto;

  padding-bottom: 96px;

  @media (max-width: $tabletWidth) {
    padding-bottom: 48px;
  }

  h2, p + h2 {
    margin-top: 2em;
  }

  h3, h4, h5, h6 {
    margin-top: 1.5em;
  }

  p {
    line-height: 1.8em;
  }

  pre > code {
    margin-top: 2em;
    margin-bottom: 2em;

    @media (max-width: $tabletWidth) {
      margin-top: 1em;
      margin-bottom: 1em;
    }
  }
}