/* @import "https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.6.0/build/styles/github.min.css"; */
@import "https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.6.0/build/styles/androidstudio.min.css";
/* @import "https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.6.0/build/styles/github-dark.min.css"; */
/* @import "https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.6.0/build/styles/gradient-dark.min.css"; */

$primary      : #151B1F;
$primaryLight : #1B2227;
$primaryLighter : #203035;
// $primaryDark  : #1B2227;

$accent       : #FFE500;
$accentLight  : #FFFF33;

$defaultTextColor: WHITE;
$inlineCode : $accent;

$phoneWidth: 600px;
$tabletWidth: 1000px;

@font-face {
  font-family: marketFresh;
  src: url(/fonts/market-fresh/Market-Fresh.ttf);
}

@font-face {
  font-family: marketFresh;
  font-weight: bold;
  src: url(/fonts/market-fresh/Market-Fresh-Bold.ttf);
}

html, body {
  color: $defaultTextColor;

  font-size: 20px;
}

p {
  line-height: 1.4em;
}

.accent-text {
  color: $accent;
}

p + h2 {
  margin-top: 48px;
}

code {
  color: $inlineCode;
}

// pre {
//   margin-top: 2em;
//   margin-bottom: 2em;
//
//   padding: 5em 3em;
//
//   background: rgb(207,36,36);
//   background: linear-gradient(331deg, rgba(207,36,36,1) 0%, rgba(255,182,143,1) 100%);
// }

pre > code {
  margin: 8px 0;
}

.show-desktop {
  @media (max-width: $tabletWidth) {
    display: none;
  }
}

.show-tablet {
  @media (min-width: $tabletWidth) {
    display: none;
  }
}

.hide-tablet {
  @media (max-width: tabletWidth) and (min-width: $phoneWidth) {
    display: none;
  }
}

.hide-phone {
  @media (max-width: $phoneWidth) {
    display: none;
  }
}