@import "theme";

.guides-menu {
  margin-right: 24px;
}

h1 {
  color: $accent;
}

.btn {
  display: block;

  background: $primaryLight;
  border: 1px solid $primaryLighter;

  padding: 8px 16px;

  text-align: left;

  &:hover {
    background: $primaryLighter;
    border: 1px solid $accent;
  }
}

.btn + .btn {
  margin-top: 8px;
}